<div class="container p-4">
<div class="row">
   <div class="col-md-6 mx-auto">
      <form action="/customers/add"  method="post">
         <div class="form-group">
            <label for="userc_id" class="mb-2 mr-sm-2">User Id:</label>
            <input type="text"class="form-control mb-2 mr-sm-2" name="userc_id" value="{{user.id}}" readonly>
            <label for="fullnam" class="mb-2 mr-sm-2">Full Name:</label>
            <input type="text" name="fullname" class="form-control mb-2 mr-sm-2" class="form-control" value="{{user.fullname}}" readonly >
         </div>
         <div class="form-group">
            <label for="title">Address:</label>
            <input type="text" class="form-control" name="address" placeholder="Address" autofocus >
         </div>
         <div class="form-group">
            <label for="city">City</label>
            <select class="custom-select custom-select-lg" name="city">
               <option value="Dublin">Dublin</option>
               <option value="Cork">Cork</option>
               <option value="Galway">Galway</option>
               <option value="Limerick">Limerick</option>
               <option value="Waterford">Waterford</option>
               <option value="Dundalk">Dundalk</option>
               <option value="Drogheda">Drogheda</option>
               <option value="Navan">Navan</option>
               <option value="Navan">Navan</option>
            </select>
         </div>
         <div class="form-group  ">
            <div class="form-group col-xs-2 ">
               <label for="name">Mobile</label>
               <input type="text" class="form-control " placeholder="Mobile number" name="mobile" >
            </div>
            <div class="form-group">
               <label for="title">Age</label>
               <input type="text" class="form-control" name="age" placeholder="Age" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
   </div>
</div>
