<!-- https://bootsnipp.com/snippets/bx5Be -->

<div class="profile-dashboard-aside">


{{> dashboard }}
</div>
<main class="col bg-faded  py-3">
	<h2 class="dashboard-title py-3">Welcome {{user.fullname}}</h2>


</main>
</div>
</div>
