<div class="container-fluid">
    <div class="row dashboard-aside">
        <aside class="col-12 col-md-2 p-0 bg-dark">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start ">
                <div class="collapse navbar-collapse">
                   <ul class="flex-md-column flex-row navbar-nav justify-content-between nav-dashboard">



                      <!-- Booking Management -->
                        <li class="nav-item ">
                            <a class="nav-link pl-0 text-nowrap" data-toggle="collapse"  href="#item-1"> <span class="font-weight-bold">Booking</span></a>
                            <div id="item-1" class="collapse">
                              <ul class="nav flex-column ml-3 ">
                                {{#if user.admin}}
                                <li class="nav-item ">
                                  <a href="service-booked" class="list-group-item list-group-item-action ">Booking  </a>
                                </li> {{/if}}
                                <li class="nav-item">
                                     <a href="/book-confirmed" class="list-group-item list-group-item-action">My Booking History</a>
                                </li>

                              </ul>
                            </div>
                        </li>
{{#if user.admin}}

                        <!-- Services -->
                          <li class="nav-item">
                              <a class="nav-link pl-0 text-nowrap" data-toggle="collapse"  href="#item-2"> <span class="font-weight-bold">Services</span></a>
                              <div id="item-2" class="collapse">
                                 <ul class="nav flex-column ml-3">
                                   <li class="nav-item">
                                     <a href="/services/add" class="list-group-item list-group-item-action">Add New Service</a>
                                   </li>
                                   <li class="nav-item">
                                        <a href="/services" class="list-group-item list-group-item-action">Services List</a>
                                   </li>

                                 </ul>
                               </div>
                          </li>


                          <!-- Staff -->
                          <li class="nav-item">
                              <a class="nav-link pl-0 text-nowrap" data-toggle="collapse"  href="#item-3"> <span class="font-weight-bold">Staff</span></a>
                              <div id="item-3" class="collapse">
                                 <ul class="nav flex-column ml-3">
                                   <li class="nav-item">
                                    <a href="/staff" class="list-group-item list-group-item-action">Add New Staff</a>
                                   </li>
                                   <li class="nav-item">
                                       <a href="staff_list" class="list-group-item list-group-item-action">Staff List</a>
                                   </li>

                                 </ul>
                               </div>
                          </li>



                          <!-- Customers -->
                          <li class="nav-item">
                              <a class="nav-link pl-0 text-nowrap" data-toggle="collapse"  href="#item-4"> <span class="font-weight-bold">Customers</span></a>
                              <div id="item-4" class="collapse">
                                 <ul class="nav flex-column ml-3">
                                   <li class="nav-item">
                                    <a href="/list-customers" class="list-group-item list-group-item-action">Customers List</a>
                                   </li>


                                 </ul>
                               </div>
                          </li>

{{/if}}

                          <!-- User Profile -->
                          <li class="nav-item">
                              <a class="nav-link pl-0 text-nowrap" data-toggle="collapse"  href="#item-5"> <span class="font-weight-bold">User Profile</span></a>
                              <div id="item-5" class="collapse">
                                 <ul class="nav flex-column ml-3">
                                   <li class="nav-item">
                                <a href="/edit-customer/{{user.id}}" class="list-group-item list-group-item-action">Complete my Details</a>
                                   </li>
                                   <li class="nav-item">
                                     <a href="/change-password" class="list-group-item list-group-item-action">Change Password</a>
                                   </li>

                                   <li class="nav-item">
                                     <a href="delete-profile/{{user.id}}" onclick="return confirm('Are You Sure You Want to Delete your Account?')" class=" list-group-item list-group-item-action">Delete my Account</a>
                                   </li>

                                 </ul>
                               </div>
                          </li>


                    </ul>
                </div>
            </nav>
        </aside>
