<!-- https://bootsnipp.com/snippets/BEGjp  -->
<div class="jumbotron text-center  py-5">
   <h3 class="">OUR SERVICES</h3>
   <p class="lead">Check below for our services we can offer you.  For bookings visit  <a href="/booking">on-line bookings</a></p>
</div>
<div class="container">
   <div class="row">
      {{#each services}}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 py-1">
         <div class="our-services-wrapper mb-60">
            <div class="services-inner">
               <div class="our-services-img">
                  <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fnickyboyspalmcoast.com%2Fwp-content%2Fuploads%2F2015%2F01%2Fbarber-clippers.png&f=1" width="68px" alt="">
               </div>
               <div class="our-services-text">
                  <h4>{{title}}</h4>
                  <p>{{description}}</p>
                  <h3 class=" service-price">  € {{price}}</h3>
               </div>
            </div>
         </div>
      </div>
      {{/each}}
      <div class="services-all">
      </div>
   </div>
</div>
</div>
