



<main class="index">


  <header class="masthead d-flex">

      <div class="container text-center my-auto">
          <h3 class="mb-1"> Welcome to the Barbershop</h3>
          <h3 class="mb-5">

              <a href="/booking" class="btn btn-outline-primary booking-btn">

              Book here

            </a>
          </h3>
      </div>
  </header>
</main>
