<!-- https://bootsnipp.com/snippets/bx5Be -->


		       {{> dashboard }}



					 <main class="col bg-faded py-3">
				 			<h2 class="dashboard-title py-3">Change Password</h2>
							<div class="card">
			            <div class="card-body">
		                    <form action="/changes-password"  method="post">
                              <div class="form-group">
                                <label for="user_email" class=" col-form-label">Email:</label>

                                  <input class="form-control" type="text" value="{{user.email}}" placeholder="Current email" readonly>

                              </div>

                              <div class="form-group">
                                <label for="oldpass" class=" col-form-label">Current Password:</label>

                                   <input type="password" class="form-control" name="oldpass" placeholder="Current Password" required="required" >

                              </div>


                              <div class="form-group">
                                <label for="newpass" class=" col-form-label">New Password:</label>

                                <input  type="password" class="form-control" name="newpass" placeholder="New Password" required="required" >

                              </div>



                              <div class="form-group ">
                                <label for="text" class=" col-form-label">Confirm Password:</label>

                                  <input type="password" class="form-control" name="confirm" placeholder="Confirm Password" required="required">


                              </div>

                               <input type="hidden" name="email" value="{{user.email}}">
                              <div class="form-group">

                                  <button name="submit" type="submit" class="btn btn-outline-success btn-sm">Submit</button>

                              </div>
                            </form>
													</div>
											</div>
				</main>
			</div>
			</div
