

<div class="container p-4">
<div class="row">

<div class="col-md-6 mx-auto">



  <form action="/edita-user/{{user.id}}"  method="post">


    <div class="form-group  ">
        <div class="form-group col-xs-2 ">
      <label for="price">Full Name:</label>
      <input type="text" class="form-control " placeholder="Enter price" name="fullname" value="{{user.fullname}}" >

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
</div>
</div>
